h1 {
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 10px;
  padding-top: 75px;
}

h2 {
  text-align: center;
  font-family: cursive;
  color: darkgoldenrod;
  padding-bottom: 50px;
}

h4 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 25px;
}

h5 {
  text-align: center;
  font-style: italic;
  padding-bottom: 25px;
}

